# This file contains pin mappings for the Creality "v4.2.7" board. To
# use this config, during "make menuconfig" select the STM32F103 with
# a "28KiB bootloader" and serial (on USART1 PA10/PA9) communication.

# If you prefer a direct serial connection, in "make menuconfig"
# select "Enable extra low-level configuration options" and select
# serial (on USART3 PB11/PB10), which is broken out on the 10 pin IDC
# cable used for the LCD module as follows:
# 3: Tx, 4: Rx, 9: GND, 10: VCC

# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.

# See docs/Config_Reference.md for a description of parameters.
[include mainsail.cfg]

[gcode_macro START_PRINT]
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(190)|float %}

    G21       ;metric values
	G90       ;absolute positioning
	M82       ;set extruder to absolute mode
	M107      ;start with the fan off
	
	M104 S{EXTRUDER_TEMP} ; set extruder temp
	M140 S{BED_TEMP}   ; set bed temp
	
	M117 Auto Home...
	G28       ;Autohome
    BED_MESH_CALIBRATE

    M117 Heating...
	M109 S{EXTRUDER_TEMP} ; wait for extruder temp
	M190 S{BED_TEMP}   ; wait for bed temp
	
	M117 Draw line...
    G1 Z2.0 F3000 ; Move Z Axis up little to prevent scratching of Heat Bed
    M109 S200 ;Wait for extruder to reach temp before proceeding
    G1 X0.1 Y20 Z0.3 F5000.0 ; Move to start position
    G1 X0.1 Y200.0 Z0.3 F1500.0 E15 ; Draw the first line
    G1 X0.4 Y200.0 Z0.3 F5000.0 ; Move to side a little
    G1 X0.4 Y20 Z0.3 F1500.0 E30 ; Draw the second line
    G92 E0 ; Reset Extruder
    G1 Z2.0 F3000 ; Move Z Axis up little to prevent scratching of Heat Bed
    G1 X5 Y20 Z0.3 F5000.0 ; Move over to prevent blob squish
    
	M117 Printing...



[gcode_macro END_PRINT]
gcode:
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    # Move nozzle away from print while retracting
    G91
    G1 X-2 Y-2 E-3 F300
    # Raise nozzle by 10mm
    G1 Z10 F3000
    G90
    # Disable steppers
    M84


[stepper_x]
step_pin: PB9
dir_pin: PC2
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA5
position_endstop: 0
position_max: 249
homing_speed: 50

[stepper_y]
step_pin: PB7
dir_pin: PB8
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA6
position_endstop: -10
position_min: -10
position_max: 235
homing_speed: 50

[stepper_z]
step_pin: PB5
dir_pin: !PB6
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
# position_endstop: 0.0                 # disable to use BLTouch
# endstop_pin: ^PA7                     # disable to use BLTouch
endstop_pin: probe:z_virtual_endstop    # enable to use BLTouch
position_min: -5                        # enable to use BLTouch
position_max: 250

[safe_z_home]                         # enable for BLTouch
home_xy_position: 157.5,120.5
speed: 100
z_hop: 10
z_hop_speed: 5

[bltouch]                             # enable for BLTouch - fast-mode
sensor_pin: ^PB1
control_pin: PB0
pin_up_touch_mode_reports_triggered: True
probe_with_touch_mode: True
x_offset: -47                         # modify as needed for bltouch location
y_offset: -5                          # modify as needed for bltouch location
#z_offset: 0.0                         # modify as needed for bltouch or run PROBE_CALIBRATE
speed: 10
samples: 3
sample_retract_dist: 5.0              # Can be set lower, example 2.5 depending on height of bltouch from bed
lift_speed: 40
samples_tolerance_retries: 3
speed: 10
samples: 2

[bed_mesh]
speed: 80
horizontal_move_z: 5
mesh_min: 18,18
mesh_max: 200,200
probe_count: 5,5
algorithm: bicubic

# manual Bed adjustment via BED_SCREWS_ADJUST
[bed_screws]
screw1: 28.5, 35.5
screw1_name: front left screw
screw2: 198.5,35.5
screw2_name: front right screw
screw3: 198.5,205.5
screw3_name: rear right screw
screw4: 28.5,205.5
screw4_name: rear left screw
horizontal_move_z: 10
speed: 50

# SCREWS_TILT_CALCULATE
[screws_tilt_adjust]
screw1: 75.5, 35.5
screw1_name: front left screw
screw2: 247,35.5
screw2_name: front right screw
screw3: 247,202.5
screw3_name: rear right screw
screw4: 75.5,202.5
screw4_name: rear left screw
horizontal_move_z: 10
speed: 50
screw_thread: CW-M4

#[input_shaper]
#shaper_freq_x: 100
#shaper_freq_y: 100
#shaper_type: mzv

[gcode_macro SET_MESH]
gcode:
    M140 S60  #Set Heat Bed temperature
    M104 S180 #Set Extruder temperature
    M190 S60  #Wait for Heat Bed temperature
    G28
    BED_MESH_CALIBRATE
    G0 X0 Y0 Z10 F6000
    BED_MESH_PROFILE save=default
    SAVE_CONFIG

[gcode_macro KALIB_OFFSET]
gcode:
    M140 S60  #Set Heat Bed temperature
    M104 S180 #Set Extruder temperature
    M190 S60  #Wait for Heat Bed temperature
    G28
    SCREWS_TILT_CALCULATE

[gcode_macro KALIB_DUESE]
gcode:
    M140 S60  #Set Heat Bed temperature
    M104 S180 #Set Extruder temperature
    M190 S60  #Wait for Heat Bed temperature
    G28
    BED_SCREWS_ADJUST

[gcode_macro KALIB_BL]
gcode:
    M140 S60  #Set Heat Bed temperature
    M104 S180 #Set Extruder temperature
    M190 S60  #Wait for Heat Bed temperature
    G28

[extruder]
max_extrude_only_distance: 100.0
step_pin: PB3
dir_pin: PB4
enable_pin: !PC3
microsteps: 16
rotation_distance: 33.500
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
control: pid
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_temp: 0
max_temp: 250

[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
control: pid
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 130

[fan]
pin: PA0

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

[display]
lcd_type: st7920
cs_pin: PB12
sclk_pin: PB13
sid_pin: PB15
encoder_pins: ^PB14, ^PB10
click_pin: ^!PB2

[board_pins]
aliases:
  EXP1_1=PC6,EXP1_3=PB10,EXP1_5=PB14,EXP1_7=PB12,EXP1_9=<GND>,
  EXP1_2=PB2,EXP1_4=PB11,EXP1_6=PB13,EXP1_8=PB15,EXP1_10=<5V>,
  PROBE_IN=PB0,PROBE_OUT=PB1,FIL_RUNOUT=PC6

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 0.985
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.060000, 0.115000, 0.118750, 0.090000, 0.145000
#*# 	  -0.065000, 0.007500, 0.026250, 0.020000, 0.037500
#*# 	  -0.068750, -0.016250, 0.008750, -0.016250, -0.021250
#*# 	  -0.110000, -0.036250, -0.036250, -0.036250, -0.015000
#*# 	  -0.070000, 0.005000, 0.015000, -0.003750, 0.060000
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 18.0
#*# max_x = 200.0
#*# min_y = 18.0
#*# max_y = 200.0
